:root {
    /* font-size: 18px; */
    /* custom variables */
    --font-rgb: 0, 0, 0;
    --highlight-rgb: 224, 224, 224;

    --tint-color: rgba(86, 150, 231, 100);
    --bg-color: #f5f5f5;
    --font-color: #000000;
    --front-color: rgb(211, 211, 211);
    --line-color: rgba(0, 0, 0, 0.4);
    --highlight-color: rgb(224, 224, 224);
}

* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    letter-spacing: -.01em;
    line-height: 1.33337;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

/* components */

body {
    display: grid;
    min-height: 100vh;
    color: var(--font-color);
    background-color: var(--bg-color);
    grid-template-rows: auto 1fr auto;
}

header {
    grid-row: 1;
    grid-column: 2;
}

article {
    grid-row: 2;
    grid-column: 2;
}

footer {
    grid-row: 3;
    grid-column: 2;
}

/* button */
.button {
    background-color: var(--front-color);
    transition: background-color 100ms linear;
}

.button:hover {
    background-color: var(--highlight-color);
}

.button > .icon {
    width: 1.5rem;
    padding: 0.75rem;
}

.button-full-icon > .icon {
    width: 3.25rem;
    padding: 0;
}

.button-large > .icon {
    width: 3rem;
}

.button > .name {
    margin: 0 auto;
    padding: 0 1rem 0 0;
    color: var(--font-color);
    text-transform: capitalize;
}

.button-full-icon > .name {
    padding-left: 1rem;
}

.button-large > .name {
    font-size: 1.3rem;
}

.button-vertical {
    flex-direction: column;
}

.button-vertical > .icon {
    width: 4rem;
    padding: 1.2rem;
}

.button-vertical > .name {
    text-align: center;
    padding: 0.5rem 0 1rem 0;
}

span > img {
    display: inline;
    width: 0.85em;
    height: 1em;
    padding: 0 0.2em;
}

.encrypted {
    display: inline-block;
    background-color: var(--front-color);
    /* color: rgba(0, 0, 0, 0); */
    position: relative;
    -webkit-user-select: none;
    cursor: pointer;
    color: transparent;
}

span.encrypted {
    display: inline-block;
    text-shadow: 0 0 10px rgba(var(--font-rgb), 0.5);
}

div.encrypted {
    display: block;
    padding: 1rem 0;
    text-shadow: 0 0 30px rgba(var(--font-rgb), 0.5);
}

.encrypted:before {
    color: #ffffff;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0.3;
    text-align: center;
    position: absolute;
    content: "Encrypted";

    transition: opacity linear 100ms;
}

.encrypted:hover:before{
    opacity: 1;
    content: "Decrypt";
}

.decrypted {
    padding: 0 0.3rem;
    border: 1px solid var(--front-color);
    background-color: var(--highlight-color);
}

@media (min-width: 320px) {
    body {
        grid-template-columns: 20px 1fr 20px;
    }
}

@media (min-width: 768px) {
    body {
        grid-template-columns: 20px 1fr 20px;
    }
}

@media (min-width: 1200px) {
    body {
        grid-template-columns: 1fr 1200px 1fr;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    header {
        grid-column: 1 / -1;
        padding: 0;
    }

    article {
        padding-top: 20px;
    }

    .markdown pre.hljs {
        max-width: calc(100vw - 80px);
    }

    .button-large > .name {
        font-size: 1.2rem;
    }
}

/* Shared Components */

.stack {
    display: flex;
}

.stack[direction=column] {
    flex-direction: column;
}

.stack[horizontal-layout="space-between"] {
    justify-content: space-between;
}

.stack[direction=column][horizontal-layout="space-between"] {
    align-items: space-between;
}

.stack[vertical-layout="space-around"] {
    align-items: space-around;
}

.stack[direction=column][horizontal-layout="space-around"] {
    align-items: space-around;
}

.stack[vertical-layout="flex-start"] {
    align-items: flex-start;
}

.stack[direction=column][horizontal-layout="flex-start"] {
    justify-content: flex-start;
}

.stack[vertical-layout="center"] {
    align-items: center;
}

.stack[direction=column][vertical-layout="center"] {
    justify-content: center;
}

.stack[horizontal-layout="center"] {
    justify-content: center;
}

.stack[direction=column][horizontal-layout="center"] {
    align-items: center;
}

.stack[horizontal-layout="flex-end"] {
    justify-content: flex-end;
}

.stack[direction=column][horizontal-layout="flex-end"] {
    align-items: flex-end;
}

.stack[vertical-layout="flex-end"] {
    align-items: flex-end;
}

.stack[direction=column][vertical-layout="flex-end"] {
    justify-content: flex-end;
}

/* Page */

img {
    width: 100%;
}

.markdown h1 {
    margin: 0 0 0.5rem;
    line-height: 4rem;
    font-size: 2rem;
}

.markdown h2 {
    margin: 0 0 1.5rem 0;
    line-height: 1.5rem;
    font-weight: 700;
}

.markdown h3 {
    margin: 0 0 0.5rem 0;
}

.markdown h5 {
    font-size: 1.125rem;
    font-weight: normal;
}

.markdown h6 {
    font-size: 1rem;
    font-weight: bold;
}

a {
    color: var(--font-color);
    text-decoration: none;
    text-decoration-color: rgba(0, 0, 0, 0.7);
}
a:hover {
    text-decoration-color: rgba(0, 0, 0, 0.7);
    text-decoration: underline;
}
.markdown a {
    color: #58a6ff ;
    text-decoration-color: #58a6ff;
}
.markdown a:hover {
    text-decoration-color: #58a6ff;
}

.markdown p {
    margin: 0 0 1.25rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

.markdown li {
    margin-bottom: 0.25rem;
}

.markdown table {
    width: 100%;
    margin-bottom: 20px;
}

.markdown table th, .markdown table td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #ddd;
    line-height: 1.25rem;
}

.markdown table th {
    font-weight: bold;
}

.markdown table thead th {
    vertical-align: bottom;
}

.markdown table caption+thead tr:first-child th, .markdown table caption+thead tr:first-child td, .markdown table colgroup+thead tr:first-child th, .markdown table colgroup+thead tr:first-child td, .markdown table thead:first-child tr:first-child th, .markdown table thead:first-child tr:first-child td {
    border-top: 0;
}

.markdown table tbody+tbody {
    border-top: 2px solid #dddddd;
}

.markdown code, .markdown .md-fences {
    margin-right: 0.2em;
    margin-left: 0.2em;
    padding: .5em;
    padding: .1em;
    /*background: #f0f0f0;*/
    /* border: 1px solid #ccc; */
    font-size: 0.9em;
}

.markdown .md-fences {
    margin: 0 0 20px;
    padding: 0.3em 1em;
    padding-top: 0.4em;
    font-size: 1em;
}

.markdown .task-list {
    padding-left: 0;
}

.markdown .task-list-item {
    padding-left: 2.125rem;
}

.markdown .task-list-item input {
    top: 3px;
}

.markdown .task-list-item input:before {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-top: -0.8rem;
    margin-left: 0;
    content: "";
    text-align: center;
    vertical-align: middle;
    border: 1px solid gray;
    background-color: #fdfdfd;
}

.markdown .task-list-item input:checked:before, .markdown .task-list-item input[checked]:before {
    margin-top: -1rem;
    content: '\25FC';
    font-size: 0.8125rem;
    line-height: 0.9375rem;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .markdown .task-list-item input:before {
        margin-top: -0.2rem;
    }
    .markdown .task-list-item input:checked:before, .markdown .task-list-item input[checked]:before {
        margin-top: -0.2rem;
    }
}

.markdown blockquote {
    margin: 0 0 1.1rem;
    padding: 1rem 1.1rem 0.05rem 1rem;
    border-left: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.05);
}

.markdown blockquote, .markdown blockquote p {
    color: #282828;
    line-height: 1.6;
}

.markdown .md-image>.md-meta {
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.markdown .md-image>img {
    margin-top: 2px;
}

.markdown .md-image>.md-meta:first-of-type:before {
    padding-left: 4px;
}

.markdown .file-list-item, .markdown .show-folder-name .file-list-item {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
}

.markdown .file-list-item-summary {
    height: 40px;
    line-height: 20px;
}

.markdown pre {
    background: #F0F0F5;
}

.markdown code {
    /* width: 100%; */
    /* padding: 1rem 2rem; */
    box-sizing: border-box;
    margin: 0;
    padding: 0.1rem 0.3em;
    /* color: #bd4147; */
    font-size: 0.85em;
    line-height: 1.25em;
    background-color: #ebebeb;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 2px;
    /* font-weight: 700; */
    /* display: inline-flex; */
    overflow: auto;
    font-family: 'Menlo', 'Consolas', 'Inconsolata', monospace;
}

.markdown code * {
    line-height: 1.25em;
    font-family: 'Menlo', 'Consolas', 'Inconsolata', monospace;
}

.markdown pre>code {
    border: none;
    background: transparent;
}

.markdown figure>table {
    padding: 1em 2em;
    background-color: #F5F8F9;
}

.title {
    margin-top: 0;
}

#embedded-music {
    height: 86px;
    width: 100%;
    margin-bottom: 20px;
}

.meta-bar {
    display: flex;
}

.meta-bar>.category {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 0 0.2rem;
    margin-right: 0.5rem;
}

/* @media print {
  .classified-container {
    display: none
  }
} */

.classified-container {
    -webkit-user-select: none;
    user-select: none;
}

.markdown hr {
    border: transparent;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 2rem 0;
}

.img-grid-row-1x {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.img-grid-row-1x img {
    width: 80%;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img-grid-row-2x {
    text-align: center;
    margin-bottom: 1%;
}

.img-grid-row-2x>div {
    width: 49.5%;
}

.img-grid-row-2x img {
    border-radius: 20px;
    margin-bottom: 10px;
}

.personnel {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.personnel img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-bottom: 10px;
}

/*
pub fine print text format
*/
.pub-row i {
    font-size: 0.9em;
    opacity: 0.7;
}
