/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --font-rgb: 255, 255, 255;
        --highlight-rgb: 70, 70, 70;

        --bg-color: #2D2D2D;
        --font-color: #ffffff;
        --front-color: #0a0a0a;
        --highlight-color: rgb(70, 70, 70);
        --line-color: rgba(255, 255, 255, 0.4);
    }
    .vector-image {
        filter: invert();
    }
    a {
        text-decoration-color: rgba(255, 255, 255, 0.7) !important;
    }
    a:hover {
        text-decoration-color: rgba(255, 255, 255, 0.7) !important;
        text-decoration: underline;
    }
    .markdown blockquote {
        background-color: #232323;
    }
    .markdown blockquote p {
        color: #ffffff;
    }
    .markdown pre {
        background: #282c34;
    }
    .markdown .hljs>code {
        color: inherit;
    }
    .title a {
        color: #FFFFFF;
    }
    .meta-row {
        border-color: rgba(255, 255, 255, 0.4);
    }
    .eta {
        color: rgba(255, 255, 255, 0.8);
    }
    .markdown code {
        background: #2d2d2d;
    }
    .markdown hr {
        border-color: rgba(255, 255, 255, 0.6);
    }
}

/* Mobile */
@media (max-width: 480px) and (prefers-color-scheme: dark) {
    .yiqinzhao img {
        filter: invert(1);
    }
    .menu-icon>img {
        filter: invert(1);
    }
}
